html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#####Code After CSS Reset#####*/
.header{
  background-image: url("../img/headerbg.jpg");
  padding: 20px 50px;
  height: 600px;
  background-size: cover;

}
.toptext{
  text-align: center;
  font
}

h1{
  color: white;
  font-weight: 900;
  font-size: 24px;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.header h2{
  color: white;
  padding: 42px;

}
.header-details{
  text-align: center;
  margin-top: 150px;

}
.header-details a{
  background-color: #f9e42e;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  padding: 10px 40px;
  width: 120px;
  display: block;
  margin: 0 auto;
}
.benefits_section{
  margin: 20px 50px;
  padding: 20px 50px;
  height: 105px;
}
.benefits_section h2{
  font-size: 20px;
  font-weight: 600;
}
.benefits_section ul{
  margin: 20px 50px;

}
ul{
  list-style: disc;
}
.testimonial{
  background-image: url("../img/testimonialbg.jpg");
  color: white;
  padding-top: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  padding-left: 200px;
  background-size: cover;
  margin: 50px;
}
